@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+Georgian:wght@100..900&family=Sen:wght@400..800&display=swap');
:root {
    --font-family: "Lato", sans-serif;
    --second-family: "Noto Sans Georgian", sans;
    --third-family: "Sen", sans-serif;
}

html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
}
.container {
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
}
.container2 {
    max-width: 1506px;
    width: 100%;
    margin: 0 auto;
}

/* header  */
.header {
    margin-bottom: 18px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.header_post {
    min-height: 895px;
    background-image: url(../img/BG.jpg);

}
.header__upper {
    display: block;
    max-height: 85px;
    display: flex;
    align-items: center;
}
.header__upper_logo {
    padding-top: 20px;
}
.header__upper_logo_img {
}
.header__upper_links {
    display: flex;
    list-style: none;
}
.header__upper_links_ul {
    display: flex;
    list-style: none;
    gap: 72px;
    padding-left: 170px;
    padding-top: 15px;
}
.header__upper_links_li {
}
.header__a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #292929;
    list-style: none;
    text-decoration: none;
}
.header__upper_buttons {
    display: flex;
    padding-left: 278px;
    margin-top: 17px;
    margin-right: 5px;
    /* gap: 64px; */
}
.header__upper_button {
    height: 51px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    color: #000;
    border: none;
    background-color: #fff;
}
.header__upper_button:nth-child(1) {
    margin-right: 26px;
}
.header__upper_button:nth-child(2) {
    height: 51px;
    width: 183px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    border: none;
    background-color:  #01996d;
    border-radius: 4%;
}
.header__upper_button:hover {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    color: #fff;
    background-color:  #01996d;
    border-radius: 4%;
    cursor: pointer;
    transition: .2s;
}
.header__a:hover {
    color: #fff;
    background-color:  #01996d;
    border-radius: 4%;
    cursor: pointer;
    transition: .2s;
}
.header__lower {
    max-height: 895px;
    height: 100%;
}
.header__h1 {
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    font-size: 65px;
    color: #01996d;
    max-width: 440px;
    padding-top: 174px;
    /* line-height: 83px; */
}
.header__p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 157%;
    color: #484848;
    max-width: 420px;
    padding-top: 30px;
    letter-spacing: 0em;
    line-height: 30px;
}
.header__button {
    margin-top: 52px;
    border: 1px solid #01996d;
    background-color: #01996d;
    border-radius: 4px;
    width: 227px;
    height: 65px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #fff;
    cursor: pointer;
}

/* how-it-works */
.how_it_works {
    margin-bottom: 306px;
}
.img_area {
    margin-top: 61px;
    border-radius: 12px;
    width: 390px;
    height: 492px;
    background-image: url(../img/how-it-works1.jpg);
    position: relative;
    z-index: 0;
}
.how_it_works-text {
    display: flex;
    padding-top: 168px;
}
.how_it_works-text-left {
    padding-right: 137px;
}
.how_it_works-text-left-p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 157%;
    color: #424242;
}
.how_it_works-text-left-h2 {
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996d;
    width: 584px;
}
.how_it_works-text-right {
}
.how_it_works-text-right-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: #424242;
    padding-top: 60px;
}
.how_it_works-items {
    display: flex;
    gap: 95px;
}
.how_it_works-item {
    text-align: start;
    align-items: start;

}
.how_it_works-item:nth-child(1) {
    width: 390px;
    height: 937px;
    padding-top: 62px;
}
.how_it_works-item:nth-child(2) {
    width: 392px;
    height: 854px;
    padding-top: 350px;
}
.how_it_works-item:nth-child(3) {
    width: 441px;
    height: 856px;
    padding-top: 95px;     
}
.how_it_works-item-num {
    font-family: "Georgia", sans-serif;
    font-weight: 400;
    font-size: 150px;
    line-height: 150%;
    color: rgba(1, 153, 109, 0.2);
    position: relative;
    z-index: 0;
}
.how_it_works-item-h5 {
    font-family: "Georgia" sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 150%;
    text-align: center;
    color: #000;
    position: absolute;
    z-index: 1;
    top: 123px;
    left: 89px;
    letter-spacing: 0.09em;
}
.how_it_works-item-p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 148%;
    color: #424242;
    width: 392px;
}
.how_it_works-item-img {
    align-self: center;
    position: relative;
    z-index: 0;
    padding-top: 60px;
}
.how_it_works-item-img-abs {
    align-self: center;
    position: absolute;
    z-index: 1;
    bottom: 123px;
    left: 205px;
}
.addit-h5 {
    padding-right: 124px;
}
.addit-img {
    padding-top: 35px;
}

/* success */
.success {
    height: 922px;
    background-color: #245852;
}
.success__inner {
    display: flex;
    padding-top: 223px;
}
.success__left {
}
.success__left-h2 {
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #fff;
    padding-top: 88px;
}
.success__left-p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 157%;
    color: #fff;
    letter-spacing: 0.06em;
    padding-top: 35px;
}
.success__left-button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    color: #fff;
    border: 1px solid #01996d;
    border-radius: 4px;
    width: 240px;
    height: 65px;
    background-color: #01996d;
    margin-top: 60px;
    cursor: pointer;
}
.success__right {
}
.success_video {
    border-radius: 5%;
    margin-left: 53px;
}

/* our-product */
.our-product {
    padding-top: 120px;
    margin-bottom: 243px;
}
.our-product__inner {
    display: flex;
}
.our-product__inner-left {
    width: 639px;
    height: 573px;
    background-image: url(../img/our_product.jpg);
    position: relative;
    z-index: 0;
    margin-left: 60px;
}
.our-product__inner-left-img {
    position: absolute;
    z-index: 1;
    bottom: -97px;
    left: -79px;
}
.our-product__inner-right {
    text-align: start;
    align-items: center;
    padding-left: 86px;
}
.our-product__inner-right-h5 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: #424242;
}
.our-product__inner-right-h2 {
    font-family: "Georgia", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: #01996d;
    padding-top: 11px;
}
.our-product__inner-right-p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 157%;
    color: #484848;
    line-height: 145%;
    padding-top: 22px;
    letter-spacing: 0.005em;
}
.new__btn {
    width: 227px;
    margin-top: 32px;
    cursor: pointer;
}

/* footer  */
.footer {
    height: 654px;
    background-color: #245852;

}
.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 104px;

}
.footer__logo {
    align-self: flex-start;
}
.footer__ul {
    list-style: none;
    padding: 0;
}
.footer__li {
    padding: 0;
    padding-top: 64px;
}
.footer__li:nth-child(1) {
    padding-top: 69px;
}
.footer__a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    list-style: none;
    text-decoration: none;
}
.footer__a:hover {
    color: #fff;
    background-color:  #01996d;
    border-radius: 4%;
    cursor: pointer;
    transition: .2s;
}

/* media  */
@media screen and (max-width:1600px) {
    .container2 {
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width:1460px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .header {
        background-position: left;
    }
    .header__upper_links_ul {
        margin-top: 20px;
        flex-direction: column;
        gap: 6px;
    }
    .header__upper_buttons {
        padding-left: 250x;
    }
    .how_it_works-items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .success_video {
        border-radius: 5%;
        margin-left: 53px;
        width: 70%;
        height: 90%;
    }
    .success {
        height: auto;
    }
    .header_post {
        min-height: 400px
        background-image: url(../img/BG.jpg);
    
    }
}
@media screen and (max-width:960px) {
    .header__upper_buttons {
        padding-left: 50px;
    }
    .how_it_works-text-left {
        padding-right: 40px;
    }
    .how_it_works-text-left-h2 {
        width: auto;
    }
    .how_it_works-item:nth-child(2) {
        padding-top: 100px;
    }
    .success__inner {
        flex-wrap: wrap;
        justify-content: center;
    }
    .success__left-button {
        margin-bottom: 30px;
    }
    .our-product__inner {
        flex-wrap: wrap;
    }
    .our-product__inner-right-h2 {
        padding-top: 60px;
    }
    .success__inner {
        padding-top: 40px;
    }
}
@media screen and (max-width:710px) {
    .header__upper_buttons {
        padding-left: 25px;
    }
    .header__upper_links_ul {
        padding-left: 50px;
    }
    .header__upper {
        flex-wrap: wrap;
    }
}
@media screen and (max-width:530px) { 
    .header__upper_buttons {
        padding-left: 0;
    }
    .header__upper_links_ul {
        gap: 2px;
    }
    .how_it_works-text {
        flex-direction: column;
    }
    .how_it_works-text-left-h2 {
        font-size: 36px;
    }
    .how_it_works-item {
        width: 200px;
    
    }
    .how_it_works-item-img {
        width: 260px;
    }
    .how_it_works-item-p {
        width: auto;
    }
    .img_area {
        margin-top: 61px;
        border-radius: 12px;
        width: 260px;
    }
    .how_it_works-item-img-abs {
        display: none;
    }
    .how_it_works-item-h5 {
        font-size: 22px;
    }
    .our-product__inner-left {
        background-position: 0 0;
        margin-left: 5px;
        height: 60%;
    }
    .our-product__inner-left-img {
        width: 80%;
        position: absolute;
        z-index: 1;
        bottom: -209px;
        left: -5px;
    }
    .our-product__inner-right-h2 {
    }
    .our-product__inner-right-h5 {
        padding-top: 206px;
    }
    .our-product__inner-right {
        padding-left: 30px;
    }
}